html *{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header {
    margin: auto;
    width: 1030px;
    height: 60px;
    align-self: center;
    background-color: #00007d;
}
#header div{
    width: 500px;
    height: inherit;
}
#header h1 {
    margin: inherit;
    height: 40px;
    padding: 10px;
    color: #ffffff;

}

#header a{
    color: #ffffff;
    float: right;
    height: 20px;
    padding: 20px;
}


#lista{
    margin: auto;
    width: 1030px;
    align-self: center;
}

#messages{
    margin: auto;
    width: 1030px;
    align-self: center;
}

#acciones {
    margin: auto;
    width: 1030px;
    align-self: center;
}


#work_form {
    margin: auto;
    width: 1030px;
    align-self: center;
    padding-top: 6px;
}

#work_form table {
    margin: auto;
    align-self: center;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */
}

#work_form td, #work_form th {
    font-size: 1em;
    border: 1px solid #00007d;
    padding: 3px 7px 2px 7px;
}

#work_form th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #00007d;
    color: #ffffff;
}

#work_form tr:first-child th:first-child{
    border-top-left-radius: 10px;
}

#work_form tr:first-child td:last-child{
    border-top-right-radius: 10px;
}

#work_form tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

#work_form tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}



#regular_table {
    margin: auto;
    width: 1030px;
    align-self: center;
    padding: 10px;
}

#regular_table table {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #00007d; /* this draws the table border  */
    width: 1030px;
}

#regular_table td, #regular_table th {
    font-size: 1em;
    border: 1px solid #00007d;
    padding: 3px 7px 2px 7px;
}

#regular_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #00007d;
    color: #ffffff;
}

#regular_table tr:first-child th:first-child{
    border-top-left-radius: 10px;
}

#regular_table tr:first-child th:last-child{
    border-top-right-radius: 10px;
}

#regular_table tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

#regular_table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

