<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Aceptación de trabajo</h1>

    {% if acceptance.valid %}
        <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <p class="submit"><input type="submit" value="Enviar Respuesta"/></p>
        </form>

        {% else %}
        <h2>Esta notificación ya fué contestada</h2>
    {% endif %}


Reciba un cordial saludo de Telefónica Telecom y todo su equipo de trabajo


 Notificacion del {{ work.ticketCause.causeType }} que se ejecutara en {{ work.department }} - {{ work.municipality}}:

<ul>
    <li>F/H Inicio de la actividad: {{ work.initialDate }}</li>
    <li>F/H Fin de la actividad: {{ work.finalDate }}</li>
    <li>Afectación (duración y hora): ---02:00h--- desde {% with wpList|first as fir %}{{ fir.initialDate }}{% endwith %} hasta {% with wpList|last as las %}{{ las.finalDate }}{% endwith %}</li>
    <li>Rollback (duración y hora): ---02:30h--- desde {% with cpList|first as fir %}{{ fir.initialDate }}{% endwith %} hasta {% with cpList|last as las %}{{ las.finalDate }}{% endwith %}</li>
</ul>

<p><b>Justificación</b> {{ work.description }}</p>

<p>{{ work.justification }}</p>


<table>
    <tr><td> LISTA DE CLIENTES </td></tr>
    <tr><td> CLIENTE </td><td>SUCURSAL</td><td>CAPACIDAD</td><td>SERVICIO</td></tr>
    {% for client in affectedList %}
        <tr><td>{{ client.name }}</td><td>{{ client.office }}</td><td>{{ client.capacity }}</td><td>{{ client.service }}</td></tr>
    {% endfor %}
</table>

<table>
    <tr><td> PLAN DE TRABAJO </td></tr>
    <tr><td> ITEM </td><td>HORA INICIO</td><td>HORA FIN</td><td>AFECTACION ESPERADA</td><td>DESCRIPCION</td></tr>
    {% for wp in wpList %}
        <tr><td>{{ forloop.counter }}</td><td>{{ wp.initialDate }}</td><td>{{ wp.finalDate }}</td><td> --- </td><td>{{ wp.activity }}</td></tr>
    {% endfor %}
</table>

<table>
    <tr><td> PLAN DE CONTINGENCIA </td></tr>
    <tr><td> ITEM </td><td>HORA INICIO</td><td>HORA FIN</td><td>AFECTACION ESPERADA</td><td>DESCRIPCION</td></tr>
    {% for cp in cpList %}
        <tr><td>{{ forloop.counter }}</td><td>{{ cp.initialDate }}</td><td>{{ cp.finalDate }}</td><td> --- </td><td>{{ cp.activity }}</td></tr>
    {% endfor %}
</table>

</body>
</html>