<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'notifier/style.css' %}">
</head>
<body>

    {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Importante: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="header">
        <div style="width: 50%; float: left"><h1>{{ work.number }}</h1></div>
        <div style="width: 50%; float: right"><a href="/notifier/">ATRAS</a></div>
    </div>

    <fieldset id="acciones">
        <legend>Acciones</legend>
        <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" formmethod="post" formaction="{{ request.path }}">Enviar Notificación</button>
        </form>

    </fieldset>


<div id="regular_table">
    <table>
        <tr>
            <th>TRABAJO PROGRAMADO No:</th>
            <td>{{ work.number }}</td>
        </tr>
        <tr>
            <th colspan="2">Descripción</th>
        </tr>
        <tr>
            <td colspan="2">{{ work.description }}</td>
        </tr>

        <tr>
            <th colspan="2">Justificación</th>
        </tr>
        <tr>
            <td colspan="2">{{ work.justification }}</td>
        </tr>

        <tr>
            <th colspan="2">Observaciones</th>
        </tr>
        <tr>
            <td colspan="2">{{ work.observations }}</td>
        </tr>
    </table>
</div>

<div id="regular_table">
    <table width="100%">
        <tr><th colspan="5">PLAN DE TRABAJO</th></tr>
        <tr><th></th><th>Fecha Inicial</th><th>Fecha Final</th><th>Afectación</th><th>Actividad</th></tr>

        {% for wp in wpList %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ wp.initialDate|date:"M d, Y, h:i a"}}</td>
                <td>{{ wp.finalDate|date:"M d, Y, h:i a" }}</td>
                <td>{{ wp.affectation }}</td>
                <td>{{ wp.activity }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="regular_table">
    <table width="100%">
        <tr><th colspan="5">PLAN DE CONTINGENCIA</th></tr>
        <tr><th></th><th>Fecha Inicial</th><th>Fecha Final</th><th>Afectación</th><th>Actividad</th></tr>
        {% for cp in cpList %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cp.initialDate|date:"M d, Y, h:i a" }}</td>
                <td>{{ cp.finalDate|date:"M d, Y, h:i a" }}</td>
                <td>{{ cp.affectation }}</td>
                <td>{{ cp.activity }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="regular_table">
    <table>
        <tr><th colspan="5">AFECTADOS</th></tr>
        <tr><th>NIT</th><th>NOMBRE</th><th>SUCURSAL</th><th>SERVICIO</th><th>CAPACIDAD</th></tr>
        {% for af in affList %}
            <tr>
                <td>{{ af.nit }}</td>
                <td>{{ af.name }}</td>
                <td>{{ af.office }}</td>
                <td>{{ af.service }}</td>
                <td>{{ af.capacity }}</td>
            </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>